<div class="col-md-6 offset-md-3">
    <form (ngSubmit)="onSubmit()" class=" p-3 pt-1 mt-4 " style="background:#f8f8f8;box-shadow:0 2px 5px rgba(0, 0, 0, 0.5)     ">
        <h3 class="mt-4 mb-3 text-center">Update Employee</h3>
        <div class="form-group">
            <label class="mb-2">First Name</label>
            <input type="text" class="form-control mb-3" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label class="mb-2"> Last Name</label>
            <input type="text" class="form-control mb-3" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label class="mb-2"> Email Id</label>
            <input type="text" class="form-control mb-3" id="emailId" [(ngModel)]="employee. emailId" name="emailId">
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    
    </form></div>